In [1]:
from pathlib import Path
import pandas as pd

sample_parsed_csv = Path("/Users/henry/RA/[01] ifo Institute/CPS-Data-Preparation/data/raw/cps_data/csv/cps_199401.csv")
df = pd.read_csv(sample_parsed_csv)

df.PEAGE.value_counts()

/var/folders/d8/mhh9hs_x0w50j6nxkx1wsqx00000gn/T/ipykernel_95170/1206512384.py:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(sample_parsed_csv)

PEAGE
-1     15116
 36     2416
 33     2363
 34     2342
 37     2330
       ...
 92       66
 98       24
 96       23
 95       20
 97        8
Name: count, Length: 100, dtype: int64

In [2]:
# 001091158590 1  124 1 0233-1-1 1-1-1-1-1-1 9-1-1         3 0 0 2 194 2A63 -1 1-1-1-1-1-1 363 1-11000-1 -1-1 1 0 1-1-1-1-1-1--1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1 -1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1 -1-1   -1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1 -1 -1-1-1 -1 -1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1  -1  -1  -1  0-1-1      0-1-1-1      -1      0-1-1-1-1-1-1-1-1-1-1-1-1-1-1        -1        -1        -1        -1        -1    -1-1 1 0 1 1 1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1

df.iloc[:, :15].head()
df.iloc[:, 15:30].head()

,HUTYPC,HWHHWGT,HRINTSTA,HRNUMHOU,HRHTYPE,HRMIS,HRMONTH,HRYEAR,HRLONGLK,HRSAMPLE,HRSERSUF,HUHHNUM,HUBUS,HUBUSL1,HUBUSL2
0,-1,-1,3,0,0,2,1,94,2,A63,-1,1,-1,-1,-1
1,-1,18586305,1,2,1,1,1,94,0,A63,-1,1,2,-1,-1
2,-1,18586305,1,2,1,1,1,94,0,A63,-1,1,2,-1,-1
3,-1,23553238,1,3,1,5,1,94,3,A61,-1,1,2,-1,-1
4,-1,23553238,1,3,1,5,1,94,3,A61,-1,1,2,-1,-1

In [3]:
cps_obs = len(df)
cps_obs_per_year = cps_obs * 12
acs_obs_per_year = 1000000

total_obs_per_year = cps_obs_per_year + acs_obs_per_year

total_obs_per_year * 20

57520880